{% extends 'main/layout.html' %}

{% block title %}BōcPress — From Quill to Cloud{% endblock %}

{% block content %}
<main>
    <h1>BōcPress</h1>
    <p>
        From Quill to Cloud.
    </p>
    <ul class="lead">
        <li><b>Get your own simple blog in 1 minute</b> → <a href="{% url 'user_create' %}">Sign up</a></li>
        <ul>
            <li>Hosted in &lt;username&gt;.bocpress.co.uk or yourdomain.com</li>
            <li>Write your posts in markdown</li>
        </ul>
        <li>
            View <a href="https://jjrobinson.bocpress.co.uk/blog/the-importance-of-user-journey-testing/">example post</a>
            / <a href="https://https://jjrobinson.bocpress.co.uk/">example blog</a>
        </li>
    </ul>

    <h2>Features</h2>
    <ul>
        <li>
            <a href="{% url 'methodology' %}">Never ads. Zero tracking</a>
        </li>
        <ul>
            <li>No cookies for analytics or tracking</li>
            <li>No email required for signup</li>
        </ul>
        <li>No platform lock-in</li>
        <ul>
            <li><a href="{% url 'export_index' %}">Export blog anytime</a></li>
            <li><a href="https://hey.mataroa.blog/blog/monthly-auto-exports-via-email/">Monthly auto-exports via
                    email</a> (premium feature)</li>
            <li><a href="https://hey.mataroa.blog/blog/redirect-to-new-domain/">Redirect to new domain</a></li>
        </ul>
        <li>
            <a href="{% url 'guides_customdomain' %}">Custom domain</a> (premium feature)
        </li>

        <li>
            <a href="{% url 'guides_images' %}">Image hosting</a>
        </li>
        <li>Subscriptions</li>
        <ul>
            <li>via RSS</li>
            <li>via Email (newsletter)</li>
        </ul>
        <li>Also:</li>
        <ul>
            <li>Analytics (backend based)</li>
            <li><a href="{% url 'api_docs' %}">API</a></li>
            <li>Import text/markdown files</li>
            <li>Export as epub book format</li>
        </ul>
        <li>100% Affero GPL <a href="https://github.com/linuxgoose/mataroa">free software</a></li>
        <li><a href="{% url 'transparency' %}">Business Transparency</a></li>
    </ul>

    <h2>Pricing</h2>
    <ul>
        <li>Free — most features</li>
        <ul>
            <li>No custom domain</li>
            <li>No auto-exports via email</li>
        </ul>
        <li>Premium — all features</li>
        <ul>
            <li>£12/year</li>
            <li>5% of revenue funds <a href="https://climate.stripe.com/QPSBFx">CO₂ removal</a></li>
        </ul>
    </ul>

    <div class="cta">
        <a class="cta-link" href="{% url 'user_create' %}">Start your blog</a>
        — <a href="https://jjrobinson.bocpress.co.uk">view example blog</a>
    </div>

    <h2>What does "BōcPress" mean?</h2>
    <p>BōcPress was chosen because it blends heritage, literature, and modern publishing in a single, memorable name.
    </p>
    <p>Let's break it down:</p>
    <ul>
        <li>“Bōc” comes from the Old English word for book, evoking centuries of literary tradition and the enduring
            power of the written word.</li>
        <li>“Press” signals publishing and dissemination, connecting the platform to both historic printing presses and
            today’s digital tools.</li>
    </ul>

    <p>Together, BōcPress represents a modern platform for writers while honoring the timeless craft of storytelling.
    </p>

    <p>This name reflects our mission: to provide a digital space where stories, ideas, and voices endure, combining
        elegance, literary heritage, and modern accessibility.</p>

    <h2>FAQ</h2>

    <details>
        <summary>Do you support custom CSS?</summary>
        <div>
            <p>
                No. The philosophy of mataroa is to be as minimal as possible without enabling
                too many decisions about styling. Sorry! :)
            </p>
        </div>
    </details>

    <details>
        <summary>Can I self-host mataroa?</summary>
        <div>
            <p>
                Absolutely. The project is
                <a href="https://github.com/linuxgoose/mataroa">open source</a>
                and you can find deployment documentation
                <a href="https://docs.mataroa.blog/deployment.html">in the docs</a>.
            </p>
        </div>
    </details>

    <details>
        <summary>Why should I use mataroa instead of Substack/WordPress/etc?</summary>
        <div>
            <p>
                Mataroa follows a minimalist philosophy. It's fast, simple, and prioritises the
                essence, the text content, over fancy features. The platform is based on a
                design philosophy of minimalism with strong data interoperability. You own your
                data and you can export it easily as well.
            </p>
        </div>
    </details>

    <details>
        <summary>Will you add themes?</summary>
        <div>
            <p>
                We are not interested in adding features that give more options to users. It's
                part of our philosophy to enable one to just write, without giving options for
                design, colours, or layouts. We understand that's not what everyone wants but we
                want to cater to people that either struggle with writing and don’t want too
                many distractions, or to people who want a minimal blog :)
            </p>
        </div>
    </details>

    <details>
        <summary>What about tags or categories?</summary>
        <div>
            <p>
                We think tags are too complicated of a feature for the simpleton mataroa wants to be.
            </p>
        </div>
    </details>

    <details>
        <summary>What about pagination?</summary>
        <div>
            <p>
                Pagination can be annoying as it breaks the browser search across all post titles.
                Additionally, because of how fast and simple mataroa is, speed is not an issue
                even with thousands of posts.
            </p>
        </div>
    </details>

    <details>
        <summary>Why doesn't strikethrough markdown notation work?</summary>
        <div>
            <p>
                The markdown library we use
                (<a href="https://github.com/Python-Markdown/markdown">Python-Markdown</a>)
                supports
                <a href="http://daringfireball.net/projects/markdown/syntax">
                    John Gruber’s markdown spec</a>,
                which does not define strikethrough text. We might migrate to another
                markdown library at some point in the future, though, this is not
                yet planned.
            </p>
        </div>
    </details>

    <details>
        <summary>Would you consider a rich editor option?</summary>
        <div>
            <p>
                We think a rich editor is too much for mataroa. For example, a rich editor
                implementation such as Trix, does looks pretty cool yet the complexity is
                too high with 200K of JavaScript code. Saving HTML in the database instead of
                simple text is also an annoyance.
            </p>
        </div>
    </details>

    <details>
        <summary>Would you add support for LaTeX-style math expressions?</summary>
        <div>
            <p>
                We have considered this feature. We don't want to add a JavaScript library to
                handle this on the frontend. However, we're open to creating this functionality in
                the future to work from the backend.
            </p>
        </div>
    </details>

    <details>
        <summary>What about supporting Mermaid flowcharts?</summary>
        <div>
            <p>
                We would not add
                <a href="https://github.com/mermaid-js/mermaid">mermaid-js</a>
                as it is
                <a href="https://github.com/mermaid-js/mermaid/blob/develop/dist/mermaid.min.js">
                    2.7MB minified
                </a>
                JavaScript which is extremely too much for mataroa. Yet, we would be interested
                in implementing something similar if it was rendered on the backend.
            </p>
        </div>
    </details>

    <details>
        <summary>Do you support ActivityPub Federation?</summary>
        <div>
            <p>
                We do not, however, we'd like to. This is unplanned work that might
                happen at some point in the future.
            </p>
        </div>
    </details>

    <p>Forked from <a href="https://mataroa.blog/">mataroa</a></p>
</main>

{% include 'partials/footer.html' %}

{% endblock content %}